.list{
    list-style: none;
    margin-bottom: 30px;
    margin-top: 100px;
}

.my-class{
    border: 1px solid white;
    border-radius: 10px;
}

.username{
    font-size: 30px;
    margin-left: 20px;
    position: relative;right : 230px;
}

.underline {
    text-decoration: underline;
  }

.small-button {
    width: 100px;
    height: 30px;
    font-size: 12px;
    padding: 5px 10px;
    margin: 5px;
    margin-left: 180px;
    border-width: 1px;
  }